.profile_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  
.profile_image img {
    width: 100%;
    height: 100%;
    min-height: 250px;
    object-fit: cover; /* Ensures the image covers the parent while maintaining its aspect ratio */

}