.main{
    background-color: #333;
    overflow-y: auto;
}

.main_content {
    margin: auto;
    align-items: center;
    max-width: 1200px;
    padding: calc(60px + 20px) 20px 10px;
    color: white;
    background-color: gray;
    min-height: calc(100vh - 120px);
}