.expand {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s;

  background-color: var(--t0);
  border: var(--bw) solid var(--tc);
  border-radius: var(--br);
  backdrop-filter: blur(5px); /* Applies the blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari compatibility */
  box-shadow: var(--sh);
}

.expand:hover {
  scale: 1.010;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.expand h3 {
  color: var(--t2);
}

.expand .icon {
  margin-left: 10px;
  color: var(--t2);
}

.expand .description {
  color: var(--t2);
  margin-top: 10px;
}

.expand .content {
  margin-top: 10px;
}
