.foot{
    background-color: var(--foot-side-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    height: var(--bar-height);
}

.foot_content {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    height: var(--bar-height);
    padding: 0 20px;
    color: white;
    background-color: var(--foot-color);
    align-items: center;

  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 0;
    
  }
  
  .icon {
    font-size: 24px;
    color: gray;
    transition: 0.5s;
    padding: 5px 10px;
    cursor: pointer;
  }
  .icon:hover {
    color: white;
  }