.grid-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-radius: var(--br);
  }
  
  .grid-container::before,
  .grid-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    z-index: 1;
  }
  
  .grid-track {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    height: 150px; /* Adjust this value to set the desired height */
  }
  
  .grid-track:last-child {
    margin-bottom: 0;
  }
  
  .grid-track-right {
    animation: scrollRight 10s linear infinite;
  }
  
  .grid-track-left {
    animation: scrollLeft 10s linear infinite;
  }
  
  /* Add this to control the size of ProjectCard */
  .project_card {
    height: 100%;
    width: auto;
  }
  
  .project_card img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 3));
    }
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(calc(-100% / 3));
    }
    100% {
      transform: translateX(0);
    }
  }