
  
  .grid-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    border-radius: var(--br);
  }
  
  .grid-container::before,
  .grid-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px; /* Adjust the width as needed */
    z-index: 1;
  }
  
  .grid-track {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 10px;
    animation: scroll 20s linear infinite;
    margin-right: 10px; /* Match the gap value */
  }
  
  .grid-track:last-child {
    margin-right: 0; /* Remove margin for the last track */
  }
  

  @media screen and (max-width: 1200px) {
    .grid-track {
      grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    .grid-track {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  