.logo-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.logo-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo-track .logo {
  width: 70px;
  height: 70px;
  margin: 10px 40px;
  color: var(--t0);
  transition: transform 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.2);
}

.logo-container:hover .logo-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
