.logo-container {
  display: flex;
  overflow: hidden;
  width: 100%;

}

.logo-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo-track .logo {
  width: 60px;
  height: 60px;
  margin: 10px 50px ;
  color: var(--t0);
  transition: transform 0.3s;
  cursor: pointer;
}

.logo-track .logo:hover {
  transform: scale(1.2);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
