/* ./components/navbar/Navbar.css */
.navbar{
    background-color: var(--navbar-side-color);
    width: 100%;
    position: fixed;
    height: var(--bar-height);
}

.navbar_content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    height: var(--bar-height);
    padding: 0 20px;
    color: white;
    background-color: var(--navbar-color)
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}
  
  