.numbers{
    margin-top: 50px;
    color: var(--t3);
    display: flex;
    gap: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

.numbers .pair{
    display: flex;
    gap: 60px;
}

.numbers .box{
    width: 200px;
}