.profile_card {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 35px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */

    background-color:var(--t0);
    border: var(--bw) solid var(--bc);
    border-radius: var(--br);
}
