.profile_card {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 35px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */

    background-color:var(--t0);
    border: var(--bw) solid var(--bc);
    border-radius: var(--br);
    backdrop-filter: blur(5px); /* Applies the blur effect */
    -webkit-backdrop-filter: blur(1px); /* Safari compatibility */
}

.profile_card h3{
    margin-bottom: 50px ;
}