.profile_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:var(--t1);
    border: var(--bw) solid var(--bc);
    border-radius: var(--br);
  }
  
.profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--br);
}