.project_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%; 
}

.project_card img {
  border-radius: var(--br);
  height: 100%; 
  width: auto; 
  object-fit: cover; 
}