.project_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;

}

.project_card img,
.project_card .content-overlay {
  border-radius: var(--br);
  height: 100%;
  width: auto;
  object-fit: cover;
}

.cover-image {
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease;
  
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}


.project_card:hover .cover-image {
  opacity: 0;
}

.project_card:hover .content-overlay {
  opacity: 1;
}