.slide-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 180px;
    border-radius: var(--br);
    box-shadow: var();
  }
  
  .slide-track {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%; /* Take full height of parent */
  }
  
  .slide-track-left {
    animation: scrollL 20s linear infinite;
  }
  
  .slide-track-right {
    animation: scrollR 20s linear infinite;
  }
  
  .slide-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 180px;
    border-radius: var(--br);
    
  }
  
  .slide-track {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    height: 100%; /* Take full height of parent */
    
  } 
  
  .slide-track-left {
    animation: scrollL 20s linear infinite;
  }
  
  .slide-track-right {
    animation: scrollR 20s linear infinite;
  }
  

  .slide-container:hover .slide-track-left,
  .slide-container:hover .slide-track-right,
  .slide-container:active .slide-track-left,
  .slide-container:active .slide-track-right{
    animation-play-state: paused;
  }
  
  @keyframes scrollL {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scrollR {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes scrollL {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scrollR {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }