.main-container {
    min-height: 600px ;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px 10px;
}
.main-container .t4 {
    background-color: var(--t4);
    box-shadow: var(--sh);
}
.main-container .t3 {
    background-color: var(--t3);
    box-shadow: var(--sh);
}
.main-container .t2 {
    background-color: var(--t2);
    box-shadow: var(--sh);
}
.main-container .t1 {
    background-color: var(--t1);
    box-shadow: var(--sh);
}
.main-container .t0 {
    background-color: var(--t0);
    box-shadow: var(--sh);
}

.main-container .space{
    height: 20px;
}


.row {
    border: 1px solid var(--layout-border-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.m1 {
    border: 1px solid var(--layout-border-color);
    width: 10%;
}
.m2 {
    border: 1px solid var(--layout-border-color);
    width: 20%;
}
.m3 {
    border: 1px solid var(--layout-border-color);
    width: 30%;
}
.m4 {
    border: 1px solid var(--layout-border-color);
    width: 40%;
}
.m5 {
    border: 1px solid var(--layout-border-color);
    width: 50%;
}
.m6 {
    border: 1px solid var(--layout-border-color);
    width: 60%;
}
.m7 {
    border: 1px solid var(--layout-border-color);
    width: 70%;
}
.m8 {
    border: 1px solid var(--layout-border-color);
    width: 80%;
}
.m9 {
    border: 1px solid var(--layout-border-color);
    width: 90%;
}
.m10 {
    border: 1px solid var(--layout-border-color);
    width: 100%;
}



