.main-container {
    min-height: 600px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    border: 1px solid var(--layout-border-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.m1 {
    border: 1px solid var(--layout-border-color);
    width: 10%;
}
.m2 {
    border: 1px solid var(--layout-border-color);
    width: 20%;
}
.m3 {
    border: 1px solid var(--layout-border-color);
    width: 30%;
}
.m4 {
    border: 1px solid var(--layout-border-color);
    width: 40%;
}
.m5 {
    border: 1px solid var(--layout-border-color);
    width: 50%;
}
.m6 {
    border: 1px solid var(--layout-border-color);
    width: 60%;
}
.m7 {
    border: 1px solid var(--layout-border-color);
    width: 70%;
}
.m8 {
    border: 1px solid var(--layout-border-color);
    width: 80%;
}
.m9 {
    border: 1px solid var(--layout-border-color);
    width: 90%;
}
.m10 {
    border: 1px solid var(--layout-border-color);
    width: 100%;
}

