@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  font-size: 11pt;
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: white;
}


h1 {
  font-size: 66pt;
  font-weight: 700;
  line-height: 74pt;
}
h2 {
  font-size: 22pt;
  font-weight: 600;
}
h3 {
  font-size: 11pt;
  font-weight: 500;
}
p{
  font-size: 11pt;
  font-weight: 300;
}
p .small{
  font-size: 8pt;
}





/* MICRO COMPONENTS */

.hover {
  transition: 0.4s;
  cursor: pointer;
  color: #888;
}
.hover:hover, .hover:focus{
  color: white;
}

.button{
  transition: 0.2s;
  background-color: #444;
  padding: 5px 20px;
  border-radius: var(--br);
}
.button:hover {
  background-color: #888;
}