:root {
    --font: Poppins;

    /* tone */
    --t0: #000000;
    --t1: #444;
    --t2: #999;
    --t3: #fff;

    /* size */
    --s0: 72pt;
    --s1: 44pt;
    --s2: 22pt;
    --s3: 11t;

    /* border */
    --bw: 1px;
    --br: 10px;




    --max-width: 1200px;
    --bar-height: 60px;
    --side-margin: 40px;

    --layout-border-color: rgba(189, 0, 0, 0);

}