:root {
    --font: Poppins;

    /* tone */
    --t0: hsla(0, 0%, 0%, 0.90);
    --t1: #444;
    --t2: #999;
    --t3: #fff;
    --t4: rgb(32, 68, 146);


    /* size */
    --s0: 36pt;
    --s1: 16pt;
    --s2: 13pt;
    --s3: 10pt;


    /* border */
    --bw: 1px;
    --br: 12px;




    --max-width: 1800px;
    --bar-height: 60px;
    --side-margin: 40px;

    --layout-border-color: rgba(189, 0, 0, 0);

}