:root {

    --navbar-side-color: #222;
    --navbar-color: #222;
    
    --main-side-color: #888;
    --main-color: #888;

    --foot-side-color: #222;
    --foot-color: #222;

    --max-width: 1200px;
    --bar-height: 60px;
    --side-margin: 40px;

    --layout-border-color: rgba(189, 0, 0, 0.808);

}