.foot{
    background-color: var(--t0);
    width: 100%;
    position: fixed;
    bottom: 0;
    height: var(--bar-height);
}

.foot-content {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    height: var(--bar-height);
    padding: 0 var(--side-margin);
    background-color: var(--t0);
    align-items: center;

  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 0;
  }
  
  .icon {
    font-size: 24px;
    padding: 5px 10px;
  }
