.foot{
  margin-top: 100px;
  background-color: var(--t0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);

  width: 100%;
  height: 200px;;
  box-shadow: var(--sh);
}

.foot-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: var(--max-width);
  height: 200px;
  gap: 30px;
  padding: 0 var(--side-margin);
}
  
.foot .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 0;
}

.foot .icon {
  font-size: 30px;
  padding: 5px 10px;
}

.foot .cp{
  color: var(--t2);
}