.foot{
  background-color: var(--t0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);

  width: 100%;
  height: var(--bar-height);
}

.foot-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: var(--max-width);
  height: var(--bar-height);
  padding: 0 var(--side-margin);
}
  
.foot .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 0;
}

.foot .icon {
  font-size: 24px;
  padding: 5px 10px;
}