.main{
    overflow-y: auto;
}

.main-content {
    margin: auto;
    margin-top: var(--bar-height) ;
    align-items: center;
    max-width: var(--max-width);
    padding: 20px var(--side-margin);
    color: var(--t3);
    min-height: calc(100vh - calc(var(--bar-height)*2));
}