.main{
    overflow-y: auto;
}

.main-content {
    margin: auto;
    margin-top: var(--bar-height) ;
    align-items: center;
    padding: 20px 0;
    color: var(--t3);
    min-height: calc(100vh - calc(var(--bar-height)*2));
}