/* ./components/navbar/Navbar.css */
.navbar{
    background-color: var(--t0);
    backdrop-filter: blur(5px); /* Applies the blur effect */
    -webkit-backdrop-filter: blur(1px); /* Safari compatibility */

    width: 100%;
    position: fixed;
    height: var(--bar-height);
}

.navbar-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    height: var(--bar-height);
    padding: 0 var(--side-margin);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}
  
  